.congress-info {
  padding: 25px 15px;

  .district-name {
    font-size: 22px;
    height: 50px;
  }

  #rep-section,
  #sen-section {
    margin: 25px 15px;

    .title {
      padding: 0 0 25px;
      font-size: 17px;
      font-style: italic;
    }
  }
}
