#info_box_wrapper.info_box_wrapper {
  position: absolute;
  padding-top: 16px;
  height: 100%;
  width: 325px;
  background: #fff;
  right: -350px;
  transition: right .3s;
  z-index: 11;
}
#info_box_wrapper.info_box_wrapper.expanded {
  right: 0;
}
.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 25px;
  cursor: pointer;
}
@media (max-width: 600px) {
  #info_box_wrapper.info_box_wrapper.expanded {
    width: 100%;
    right: 0;
  }
}