.InfoBox {
  padding-top: 16px;
  height: 100%;
  width: 400px;
  background: #fff;

  .content {
    padding: 25px 15px;
    font-size: 22px;
    color: #555;
  }

  &.slide {
    position: absolute;
    right: -450px;
    transition: right 0.3s;
    z-index: 11;

    &.expanded {
      right: 0;
    }
  }

  @media (max-width: 600px) {
    .expanded {
      width: 100%;
      right: 0;
    }
  }

  .closeIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    cursor: pointer;
  }
}
